html {
  height: 100vh;
  width: 100vw;
}

header{

  width: 100%;
  background-color: rgba(89, 255, 89, 0.5);
  text-align: center;
  font-size: 5vmin;
  margin: 10px auto;
  margin-top: 0;
  color: white;
  text-shadow: 2px 2px darkblue;
}

body {
  margin: 0;
}

.game-container {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Concert One', cursive;
  height: 100vh;
  width: 100vw;
}
.gameBoard {
  height: 87vmin;
  width: 87vmin;
  position: relative;
  padding: 1%;
  border: 1px solid green;
  /* float: left; */
  margin: 0 auto;
  display: block;
  background-color: rgb(93, 93, 255);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -moz-box-shadow: 10px 10px 5px rgba(20,20,20,.5);
  -webkit-box-shadow: 10px 10px 5px rgba(20,20,20,.5);
  box-shadow: 10px 10px 5px rgba(20,20,20,.5);
}

.stats{
  width: 100%;
  height: 50px;
  background-color: rgba(0, 255, 34, 0.5);
  /* left:5%;
  bottom: 1px; */
  position: absolute;
  bottom: 0;
  margin: 10px auto;
  display: block;
  margin: 4px auto;

}

.player1{
  height:34px;
  width: 120px;
  float:left;
  background-color: coral;
  margin: 4px;
  color: blue;
  text-decoration-color: blue;
  padding: 3px;
  border-radius:10%
}
.player2{
  height: 34px;
  width: 120px;
  float: right;
  background-color: coral;
  color: red;
  text-decoration-color: red;
  margin: 4px;
  padding: 3px;
  border-radius:10%
}

#player1, #player2{
  text-align: center;
  margin:7px;
  color: white;
  font-size: 2em;
  margin-left: 10px;
  text-shadow: 2px 2px grey;
}

.tile{
  height: calc(100%/9.8);
  width: calc(100%/9.8);
  float: left;
  position: relative;
  margin:3px;
}



.tile > *{
  height: 100%;
  width: 100%;
  position: absolute;

}
.leaf{
  background-color: rgb(33, 180, 33);
  border-radius: 15px;
  -moz-box-shadow: 4px 4px 2px rgba(20,20,20,.5);
  -webkit-box-shadow: 4px 4px 2px rgba(20,20,20,.5);
  box-shadow: 4px 4px 2px rgba(20,20,20,.5);
}
.frog{
  height: 60%;
  width: 60%;
  /* background-color: aquamarine; */
  border-radius: 50%;
  left: calc(100%/18);
  top: calc(100%/18);
  background-size: 100%;
  /* background-image: url(../images/red.png); */
  padding: 10px;
}

.red {
    background-image: url(../images/red.png);
}

.blue {
    background-image: url(../images/blue.png);
}

.yellow {
    background-image: url(../images/yellow.png);
}

.brown {
    background-image: url(../images/brown.png);
}

.center {
    background-color: goldenrod;
}

.choice {
    /* background-color: greenyellow; */
    animation: pulse 2s infinite;

}

@keyframes pulse {
  0% {
    background-color:rgb(14, 206, 55);
  }
  50% {
    background-color: greenyellow;
  }

  100% {
    background-color: rgb(14, 206, 55);

  }
}
.center.choice {
    background-color: rgb(245, 196, 105);
}

/* modal elements */
#modalShadow{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.4;
}
#modalBody{
  position: fixed;
  left: 50%;
  top: 50%;
  height: 280px;
  width: 400px;
  transform: translate(-50%, -50%);
  background-color: lightgreen;
  border-radius:10%;
  background-position: cover;
  background-repeat: no-repeat;
  /* display: flex; */
}
#modalMessage{
  font-size: 200%;
  color: white;
  position: relative;
  text-align: center;
  top: 50px;
}
#modalButton{
  position: absolute;
  margin: 5px auto;
  bottom: 5px;
  left: 16vmin;
}



@media only screen and (min-width:768px) and (max-width:990px) {
	.tile{
		margin: 3px;
	}
  .gameBoard {
    padding: 1vmin;
  }
  .frog {
    padding:8px;
  }

}
@media only screen  (min-height:800px) and (max-height:990px){
	.tile{
		margin: 3px;
	}
  .gameBoard {
    padding: 1vmin;
  }
  .frog {
    padding:8px;
  }

}

@media only screen and (min-width:580px) and (max-width:767px){
	.tile{
		margin: 2px;
	}
  .gameBoard {
    padding: 1.2vmin;
  }
  .frog {
    padding:7px;
  }

}

@media only screen and (min-height:650px) and (max-height:799px){
	.tile{
		margin: 2px;
	}
  .gameBoard {
    padding: 1.2vmin;
  }
  .frog {
    padding:7px;
  }

}


@media only screen and  (min-height:0px) and (max-height:649px){
	.tile{
		margin: 1px;
  }
  .gameBoard {
    padding: 1.5vmin;
  }
  .frog {
    padding: 5px;
  }
}

@media only screen and (min-width:0px) and (max-width:579px) {
	.tile{
		margin: 1px;
  }
  .gameBoard {
    padding: 1.5vmin;
  }
  .frog {
    padding: 5px;
  }
}
